body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: green;
  color: white;
  padding: 10px;
  text-decoration: none;
}

#produtos {
  padding: 20px;
}

.produto {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

button {
  background: blue;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* NOVA SEÇÃO */
#servicos {
  background: #eef6ff;
  padding: 20px;
  margin-top: 20px;
}

.servico {
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.servico button {
  background: orange;
}